In [78]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sb

Import dataset

In [79]:
mydata = pd.read_csv(r'/content/diabetes.csv')

In [80]:
mydata.sample(5)

     Pregnancies  Glucose  ...  Age  Outcome
383            1       90  ...   25        0
381            0      105  ...   22        0
348            3       99  ...   26        0
592            3      132  ...   44        1
7             10      115  ...   29        0

[5 rows x 9 columns]

In [81]:
mydata.shape

(768, 9)

In [82]:
mydata.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

Checking for null/missing data

In [83]:
nl = pd.concat([mydata.isnull().sum()], axis = 1, keys = ["Data"])
nl[nl.sum(axis=1) > 0]

Empty DataFrame
Columns: [Data]
Index: []

Target variable

In [84]:
x = mydata.iloc[:,0:7]

y = mydata.iloc[:,8]

import libraries for all models

In [85]:
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import RandomForestClassifier 
from sklearn import tree 
from sklearn.naive_bayes import GaussianNB #Naive Bayes Classification Algo.
import matplotlib.pyplot as plt
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report # To get models info.
from sklearn.model_selection import train_test_split # To split data
from sklearn.model_selection import cross_val_score

In [87]:
#random forest
def rnn(x,y):
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
  classifier = RandomForestClassifier(n_estimators=100)
  classifier.fit(X_train,y_train)
  y_pred = classifier.predict(X_test)
  a = np.array(confusion_matrix(y_test,y_pred))
  return a
pass

#KNeighborsClassifier
def knn(x,y):

  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
  model1 = KNeighborsClassifier()
  learner = model1.fit(X_train,y_train)
  y_pred = learner.predict(X_test)
  a = np.array(confusion_matrix(y_test,y_pred))
  return a
pass

#Naive Bayes
def naive(x,y):
  X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
  gnb = GaussianNB() 
  gnb.fit(X_train, y_train)
  y_pred = gnb.predict(X_test)
  a = np.array(confusion_matrix(y_test,y_pred))
  return a
pass


#calculate funciton to calculate all metrics

def calculate(br):

  #true positive

  tp = br[1,1]

  #true negative
  tn = br[0,0]

  #false negative
  fn = br[1,0]

  #false positve
  fp = br[0,1]

  #True positive rate
  tpr = tp/(tp + fn)

  #True negative rate
  tnr = tn/(tn + fp)

  #False positive rate
  fpr = fp/(tn + fp)

  #False negative rate
  fnr = fn/(tp + fn)

  #Recall
  r = tp/(tp + fn)

  #precision
  p = tp/(tp + fp)

  #f1
  f1 = (2 * tp)/(2*(tp + fp + fn))

  #accuracy
  acc = (tp + tn)/(tp + fp + fn + tn)

  #error rate
  err = (fp + fn)/(tp + fp + fn + tn)
  

  df1 = pd.DataFrame({'Tp':[tp],'Tn':[tn],'Fp':[fp],'Fn':[fn],'Tpr':[tpr],'Tnr':[tnr],'Fpr':[fpr],'Fnr':[fnr],'Recall':[r],'Precision':[p],'F1':[f1],'Accuracy':[acc],'Error_rate':[err]})
  return df1
pass



def average(df,type):
  return pd.DataFrame({'Type':[type],'Tp':[df['Tp'].mean()],'Tn':[df['Tn'].mean()],'Fp':[df['Fp'].mean()],'Fn':[df['Fn'].mean()],'Tpr':[df['Tpr'].mean()],'Tnr':[df['Tnr'].mean()],'Fpr':[df['Fpr'].mean()],'Fnr':[df['Fnr'].mean()],'Recall':[df['Recall'].mean()],'Precision':[df['Precision'].mean()],'F1':[df['F1'].mean()],'Accuracy':[df['Accuracy'].mean()],'Error_rate':[df['Error_rate'].mean()]})
pass

df_random = pd.DataFrame({'Tp':[],'Tn':[],'Fp':[],'Fn':[],'Tpr':[],'Tnr':[],'Fpr':[],'Fnr':[],'Recall':[],'Precision':[],'F1':[],'Accuracy':[],'Error_rate':[]})

df_knn = pd.DataFrame({'Tp':[],'Tn':[],'Fp':[],'Fn':[],'Tpr':[],'Tnr':[],'Fpr':[],'Fnr':[],'Recall':[],'Precision':[],'F1':[],'Accuracy':[],'Error_rate':[]})

df_naive = pd.DataFrame({'Tp':[],'Tn':[],'Fp':[],'Fn':[],'Tpr':[],'Tnr':[],'Fpr':[],'Fnr':[],'Recall':[],'Precision':[],'F1':[],'Accuracy':[],'Error_rate':[]})

for i in range(1,10):

  a = rnn(x,y)
  df_random = df_random.append(calculate(a),ignore_index=True)
  b= knn(x,y)
  df_knn = df_knn.append(calculate(b),ignore_index=True)
  c = naive(x,y)
  df_naive= df_naive.append(calculate(c),ignore_index=True)
  


final = pd.DataFrame({'Type':[],'Tp':[],'Tn':[],'Fp':[],'Fn':[],'Tpr':[],'Tnr':[],'Fpr':[],'Fnr':[],'Recall':[],'Precision':[],'F1':[],'Accuracy':[],'Error_rate':[]})



final = final.append(average(df_knn,'Knn'),ignore_index=True)
final.set_index('Type')
final1 = final.append(average(df_random,'random'),ignore_index=True)
final1.set_index('Type')
final2 = final1.append(average(df_naive,'Naive'),ignore_index= True)
print('Random Forest \n',df_random)
print('\n\n')
print('Knn \n',df_knn)
print('\n Naive Bayes\n',df_naive)
print('\n\n',final2)

Random Forest
      Tp    Tn    Fp    Fn  ...  Precision        F1  Accuracy  Error_rate
0  36.0  81.0  17.0  20.0  ...   0.679245  0.493151  0.759740    0.240260
1  35.0  86.0  14.0  19.0  ...   0.714286  0.514706  0.785714    0.214286
2  26.0  85.0  17.0  26.0  ...   0.604651  0.376812  0.720779    0.279221
3  32.0  80.0  20.0  22.0  ...   0.615385  0.432432  0.727273    0.272727
4  21.0  85.0  18.0  30.0  ...   0.538462  0.304348  0.688312    0.311688
5  34.0  80.0  15.0  25.0  ...   0.693878  0.459459  0.740260    0.259740
6  34.0  81.0  16.0  23.0  ...   0.680000  0.465753  0.746753    0.253247
7  32.0  82.0  16.0  24.0  ...   0.666667  0.444444  0.740260    0.259740
8  24.0  89.0   5.0  36.0  ...   0.827586  0.369231  0.733766    0.266234

[9 rows x 13 columns]



Knn
      Tp    Tn    Fp    Fn  ...  Precision        F1  Accuracy  Error_rate
0  24.0  77.0  21.0  32.0  ...   0.533333  0.311688  0.655844    0.344156
1  27.0  79.0  26.0  22.0  ...   0.509434  0.360000  0.688312    0.311688
2  21.0  85.0  22.0  26.0  ...   0.488372  0.304348  0.688312    0.311688
3  24.0  77.0  21.0  32.0  ...   0.533333  0.311688  0.655844    0.344156
4  36.0  75.0  21.0  22.0  ...   0.631579  0.455696  0.720779    0.279221
5  28.0  81.0  20.0  25.0  ...   0.583333  0.383562  0.707792    0.292208
6  28.0  85.0  11.0  30.0  ...   0.717949  0.405797  0.733766    0.266234
7  29.0  89.0  13.0  23.0  ...   0.690476  0.446154  0.766234    0.233766
8  29.0  87.0  14.0  24.0  ...   0.674419  0.432836  0.753247    0.246753

[9 rows x 13 columns]

 Naive Bayes
      Tp     Tn    Fp    Fn  ...  Precision        F1  Accuracy  Error_rate
0  35.0   84.0  17.0  18.0  ...   0.673077  0.500000  0.772727    0.227273
1  30.0  100.0  11.0  13.0  ...   0.731707  0.555556  0.844156    0.155844
2  33.0   84.0  13.0  24.0  ...   0.717391  0.471429  0.759740    0.240260
3  25.0   91.0  18.0  20.0  ...   0.581395  0.396825  0.753247    0.246753
4  33.0   82.0  17.0  22.0  ...   0.660000  0.458333  0.746753    0.253247
5  27.0   84.0  19.0  24.0  ...   0.586957  0.385714  0.720779    0.279221
6  38.0   72.0  20.0  24.0  ...   0.655172  0.463415  0.714286    0.285714
7  32.0   81.0  18.0  23.0  ...   0.640000  0.438356  0.733766    0.266234
8  28.0   88.0   8.0  30.0  ...   0.777778  0.424242  0.753247    0.246753

[9 rows x 13 columns]


      Type         Tp         Tn  ...        F1  Accuracy  Error_rate
0     Knn  27.333333  81.666667  ...  0.379085  0.707792    0.292208
1  random  30.444444  83.222222  ...  0.428926  0.738095    0.261905
2   Naive  31.222222  85.111111  ...  0.454874  0.755411    0.244589

[3 rows x 14 columns]